/* Add your own styles */

header {
    background-color: #395870;
    text-align: center;
}

main {
    background-color: #f0f0f2;
}

#lookup{
    background-color: #009900;
    border-radius: 5px;
    padding: 8px 20px;
    color: white;
    display: inline-block;
}

#lookup2 {    
    background-color: #3333cc;
    border-radius: 5px;
    padding: 8px 20px;
    color: white;
    display: inline-block;
}

#country {
    width: 50%;
    padding: 8px 20px;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    float: center;
    margin-bottom: 6px;
}

h1 {
    font-family: Taviraj, Georgia, serif;
    color: #fff;
}

table {
  border-collapse: collapse;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 20px auto;
}

th,td {
  padding: 10px 15px;
}

thead {
  background: #395870;
  color: #fff;
}

tbody tr:nth-child(even) {
  background: #f0f0f2;
}

td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}

td:first-child {
  border-left: 1px solid #cecfd5;
}